.ptp {
    color: black;
}

.tmmm{
    color: #black;
}

.jt{
    text-align: center;
    color: #black;
   
}
.genr{
    margin-bottom: 20px;
   text-align: right;
}
.repo{
    border-radius: 25px;
}