.thh {
    color: black;
    margin-top: 100px!important;
}

.tdd{
    color: black;
}

.pp{
    text-align: center;
    color: black;
   
}
.gg{
    color: black;
   text-align: center;
   
}
.generate{
    margin-bottom: 20px;
   text-align: right;
}
.report{
    border-radius: 25px;
}