.landing {
  height: calc(100vh) !important;
  /* background-image: url('https://images7.alphacoders.com/362/362619.jpg') !important; */
  background-image: url('https://cdn.pixabay.com/photo/2016/10/22/17/06/gradient-1761190_960_720.jpg') !important;
  /* background-image: url ('./images/blue-background.jpg')!important; */
}

.landing .btn {
  background-color: white !important;
  color: black !important;
  margin-top: 10px !important;
}

h1 {
  color: rgb(10, 86, 10)!important;
  font-size: xx-large!important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
}

